<div class="bodycontainer">
    <h1>A&ntilde;ada una Instituci&oacute;n</h1>

    <form class="form-group-sm add-inst-form" name="inst_form">
        <div class="fieldsets-container well">
        <fieldset class="inst-form-1">
            <div class="form-group-sm">
                <label>Tipo de Instituci&oacute;n *</label>		
                <select ng-model="institution.type" class="form-control" style="margin-bottom:5px">
                    <option value="">Escoja un tipo de Instituci&oacute;n</option>
                    <option value="NODO">NODO</option>
                    <option value="policlinico">Policl&iacute;nico</option>
                    <option value="hospital">Hospital</option>
                    <option value="dir_salud">Direcci&oacute;n de Salud</option>
                    <option value="c_genetica">Centro de Gen&eacute;tica</option>
                    <option value="b_sangre">Banco de sangre</option>
                    <option value="c_higiene">Centro de Higiene</option>
                    <option value="filial">Filial Docente</option>
                    <option value="other">Otros...</option>                
                </select>
            </div>
            <div class="form-group-sm">
                <label>N&uacute;mero de L&iacute;nea *</label>		
                <input class="form-control" required ng-model="institution.line_number" placeholder="N&uacute;mero de L&iacute;nea"></input>
            </div>
            <div class="form-group-sm">
                <label>Nombre *</label>		
                <input class="form-control" required ng-model="institution.name" placeholder="Nombre"></input>
            </div>
            <div class="form-group-sm">
                <label>Localidad</label>		
                <input class="form-control" ng-model="institution.location" placeholder="Localidad"></input>
            </div>
            <div class="form-group-sm">
                <label>WAN *</label>		
                <input class="form-control" required ng-model="institution.wan" placeholder="IP/CIDR" ng-pattern="/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/([8-9]|[12]\d|3[0]))$/"></input>
            </div>
            <div class="form-group-sm">
                <label>LAN</label>		
                <input class="form-control" ng-model="institution.lan" placeholder="IP/CIDR" ng-pattern="/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/([8-9]|[12]\d|3[0]))$/"></input>
            </div>        
        </fieldset>
        <fieldset class="inst-form-2">
            <div class="form-group-sm">
                <label>Velocidad (Kbps)</label>		
                <input class="form-control" ng-model="institution.bandwidth" placeholder="Velocidad"></input>
            </div>
            <div class="form-group-sm">            
                <label>Estado del enlace *</label>		
                <select ng-model="institution.state" class="form-control" style="margin-bottom:5px">
                    <option value="">Escoja el estado del enlace</option>
                    <option value="UP" selected>UP</option>
                    <option value="DOWN">DOWN</option>
                </select>
            </div>
            <div class="form-group-sm">
                <label>Destino Final</label>	
                <input class="form-control" ng-model="institution.final_destination" placeholder="Lugar de destino"></input>
            </div>
            <div class="form-group-sm">
                <label>Tipo de puerta</label>		
                <input class="form-control" ng-model="institution.gate_type" placeholder="Tipo de puerta"></input>
            </div>
            <div class="form-group-sm">
                <label>Tel&eacute;fono</label>		
                <input class="form-control" ng-model="institution.phone_number" placeholder="N&uacute;mero de Tel&eacute;fono"></input>
            </div>
            <div class="form-group-sm">
                <label>&Uacute;ltimo Reporte</label>		
                <input class="form-control" ng-model="institution.last_report" placeholder="N&uacute;mero de reporte"></input>
            </div>
        </fieldset>
        
        <div class="clearfix"></div>
        <div align="right" style="opacity: 0.5; margin-top: 5px; margin-right: 27px; font-style:italic" >Los campos marcados con * son obligatorios</div>
        </div>
        <div class="inst-form-btns" align="right">
            <input type="button" class="btn btn-primary" ng-disabled="inst_form.$invalid" value="Guardar" ng-click="save(inst_form)"></input>
            <input type="button" class="btn btn-default" value="Cancelar" ng-click="cancel()"></input>
        </div> 
    </form>
</div>