<div class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        
                <h4>Informaci&oacute;n adicional: </h4>
                    <div class="info-row">
                        <div class="info-left"><strong> Nro L&iacute;nea:</strong> </div>
                        <div class="info-right">{{info.line_number}}</div>
                    </div>
                    <div class="info-row">
                        <div class="info-left"><strong> &Uacute;ltimo Reporte:</strong> </div>
                        <div class="info-right">{{info.last_report}}</div>
                    </div>
                    <div class="info-row">
                        <div class="info-left"><strong> Velocidad:</strong> </div>
                        <div class="info-right">{{info.bandwidth}}</div>
                    </div>
                    <div class="info-row">
                        <div class="info-left"><strong> Estado:</strong> </div>
                        <div class="info-right">{{info.state}}</div>
                    </div>
                    <div class="info-row">
                        <div class="info-left"><strong> Destino Final:</strong> </div>
                        <div class="info-right">{{info.final_destination}}</div>
                    </div>
                    <div class="info-row">
                        <div class="info-left"><strong> Tipo de Puerta:</strong> </div>
                        <div class="info-right">{{info.gate_type}}</div>
                    </div>
                    <div class="clearfix"></div>
        

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>        
      </div>
    </div>
  </div>
</div>