<div class="bodycontainer">
    <h1>Estad&iacute;sticas Generales</h1>

    <div class="well delete-details">

    <ul >
        <li><strong>Enlaces activos:</strong> {{up}}</li>
        <li><strong>Enlaces inactivos:</strong> {{down}}</li>
        <li><strong>Policl&iacute;nicos:</strong> {{pol}}</li>
        <li><strong>Hospitales:</strong> {{hosp}}</li>
        <li><strong>Centros de Higiene:</strong> {{cmhe}}</li>
        <li><strong>Direcciones de Salud:</strong> {{dms}}</li>
        <li><strong>Centros de Gen&eacute;tica:</strong> {{cg}}</li>
        <li><strong>Bancos de Sangre:</strong> {{bs}}</li>
        <li><strong>Filiales docentes:</strong> {{filial}}</li>
        <li><strong>Otros:</strong> {{other}}</li>        
    </ul>
    </div>
    
</div>